@import "../../../sass/variable";

.userNav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.932);
  position: relative;
  .list {
    display: flex;
    margin-left: auto;
    .listItem {
      margin-right: 2rem;
      font-size: 2rem;
      color: $w1;
      @include flex1;
      color: $g1;
      &:hover a {
        color: $b1;
      }
      &:hover {
        color: $b1;
      }
      a {
        margin-left: 0.3rem;
        color: $g1;
      }
    }
    .listIcon {
      display: none;
    }
  }
  .navIcon {
    margin-left: auto;
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .userNav {
    position: relative;
    width: 100%;

    .list {
      background-color: $g7;
      @include flexc;
      justify-content: center;
      position: fixed;
      top: 0;
      width: 70%;
      right: -100%;
      height: 100vh;
      transition: right 400ms;
      .listIcon {
        display: block;
        position: absolute;
        top: 2%;
        left: 2%;
        font-size: 3rem;
      }
      .listItem {
        font-size: 2rem;

        margin: 2rem;
        color: $b1;
        a {
          font-size: 2rem;

          margin-left: 0.3rem;
          color: $b1;
          &:hover {
            color: $b1;
          }
        }
      }
    }
    .list.active {
      right: 0%;
      width: 70%;
    }

    .navIcon {
      display: block;
      font-size: 3rem;
      margin-right: 1rem;
    }
  }
}
